
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let b of bannerResult; let i= index" [ngClass]="{active: i === 1}">
        <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{b.original_title}}</h2>
          <p>{{b.overview}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- bannar Part End -->

  <!-- Tranding Movie part Start Here -->
    <div class="contain mt-4 p-4">

      <!-- /Tranding Movies  -->
      <div class="row">
        <h5 class="text-white">Trending Movies</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of trandingMoviesResult">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
    
        </div>
    
      </div>

      <!-- action Movie -->
     
      <div class="row">
        <h5 class="text-white">Action Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of actionMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
    
        </div>
    
      </div>

      <!-- adventure Movies -->
      <div class="row">
        <h5 class="text-white">Adventure Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of adventureMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>
       <!-- animationMovie Movies -->
       <div class="row">
        <h5 class="text-white">Animation Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of animationMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>
       <!-- comedyMovie Movies -->
       <div class="row">
        <h5 class="text-white">Comedy Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of comedyMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>
       <!-- documentyMovie Movies -->
       <div class="row">
        <h5 class="text-white">Document Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of documentyMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>
       <!-- scienceFictionMovie Movies -->
       <div class="row">
        <h5 class="text-white">ScienceFiction Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of scienceFictionMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>
       <!-- thrillerMovie Movies -->
       <div class="row">
        <h5 class="text-white">Thriller Movie</h5>
        <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let t of thrillerMovie">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',t.id]">
          </ng-container>
        </div>
      </div>


    </div>
  <!-- Tranding Movie part End Here -->